.carousel {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.carousel-item .a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
}
.carousel-item .b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}
.carousel-item .c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}
.carousel-item .d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}
.carousel-item .e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}
.carousel-item .f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}
