.button-green {
    display: block;
    width: 100%;
    background: #49c279 !important;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.button-green:hover {
    background: #34a560;
    color: #fff;
    text-decoration: none;
}

.button-red {
    display: block;
    width: 100%;
    background: #f7614e !important;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.button-red:hover {
    background: #ca3a28;
    color: #fff;
    text-decoration: none;
}
